@model employees_system.ViewModels.Employees.EmployeeTableData

@{
    ViewData["Title"] = "Index";
}

<h1>All Employees</h1>

<p>
    <a asp-action="NewEmployee">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
        <th>Code</th>
        <th>Name</th>
            @foreach (var header in Model.PropertyHeaders)
            {
                <th>@header</th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var emp in Model.Employees) {
            <tr>
            <td>@emp.Code</td>
            <td>@emp.Name</td>
                @foreach (var value in emp.PropertyValues)
                {
                    <td>@value</td>
                }
            </tr>
}
    </tbody>
</table>
